*{
    box-sizing: border-box
}

body{
    background: url('img/freedom.jpg') no-repeat center center fixed;
    background-size: cover; 
    margin: 0;
    height: calc(100% - 2.5rem);
}

p{
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
    letter-spacing: 2px;
    width: 90vw;
    margin: 2.5rem auto 1.5rem;
    font-style: normal 
}

.name{
    font-family: 'Italianno', cursive, sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: normal;
    text-transform: none;
    margin: 0 auto
}

.languages{
    width: 100%;
    height: 3rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

  .languages__icon{
      margin: 0 .5rem;
  }

  .languages ul{
      padding: 0;
      margin: auto 0;
      list-style: none;
  }

  .languages li{
      display: inline-block;
  }

  img{
      width: 2rem;
  }
